.navbar {
    height: 72px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    display: flex;
    align-items: center;
    /* position: fixed; */
}

.sticky {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:99;
  background:white;
}

.navbar > img {
    height: 97%;
}

.icon {
    flex: 0.5;
}